@import "../../../../assets/style/mixin.scss";

.login-and-register-login {
  width: 100%;
  background-color: #fff;
  .header {
    height: 40px;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #666;
    .icon {
      position: absolute;
      left: -5px;
      height: 40px;
      padding-right: 8px;
      font-size: 20px;
      line-height: 40px;
      color: #666;
    }
  }
  .form {
    width: 100%;
    .form-item {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      padding-right: 30px;
      position: relative;
      margin-top: 20px;
      @include border-1px(#ccc, bottom);
      input {
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 16px;
      }
      &.code-type {
        padding-right: 110px;
        .get-code {
          border: none;
          height: 100%;
          width: 110px;
          position: absolute;
          right: 0;
          background-color: rgba(28, 222, 22, 0.64);
          &:disabled {
            background-color: #bbb;
          }
        }
      }
    }
    .login-btn {
      width: 90%;
      height: 42px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 30px;
      border-radius: 20px;
      box-shadow: none;
      border: none;
      background-color: rgba(222,0,0,.8);
      color: #fff;
      font-size: 16px;
      outline: none;
      &:disabled {
        background: rgba(222,0,0,.3);
      }
    }
    .action-text {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .link {
        font-size: 13px;
        color: #999;
      }
    }
  }
}