@import "../../../assets/style/variables";
@import "../../../assets/style/mixin";

.user-top-nav {
  position: fixed;
  top: 0;
  height: $userHeaderTopNavHeight;
  width: 100%;
  line-height: $userHeaderTopNavHeight;
  text-align: center;
  @include border-1px(#ccc, bottom);
  z-index: 2;
  .avatar-wrapper {
    position: absolute;
    left: 10px;
    top: 2px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    .avatar {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 50px;
  }
}